.listing-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.listing-title {
  width: 40%;
}

.listing-author {
  width: 30%;
}

.listing-quantity {
  width: 25%;
}

.listing-reserve {
  width: 60px;
  height: 20px;
}