.search-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar-subcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar-content {
  margin: 5px;
}